.root {
     -fx-background-color: black;
     -fx-background-image: url("../images/background.jpg");
     -fx-background-size: 100 100;
     -fx-background-position: center center;
     -fx-font-size: 15px;
}

.table-column {
     -fx-alignment: center;
}

.table-cell {
     -fx-wrap-text: true;
     -fx-alignment: center;
     -fx-text-alignment: center;
     -fx-text-overrun: word-ellipsis;
     -fx-label-padding: 0 4 0 4;
}

.button {
     -fx-graphic-text-gap: 8;
}

.progress-indicator .percentage {
     -fx-fill: white;
}

.filterGridPane Line {
     -fx-stroke: white;
}

.profileLabel {
     -fx-font-size: 20px;
}

.pageHeader {
     -fx-font-size: 32px;
}

.helpTextLarge {
     -fx-font-size: 20px;
}

.itemPackTable .button {
     -fx-background-color: transparent;
}

.itemPackTable .button:hover {
     -fx-background-color: gainsboro;
}

.itemPackTable .setreference:hover {
     -fx-background-color: gainsboro;
}

#mainStageHeader {
     -fx-font-size: 48px;
}

#filterScrollPane > .viewport {
     -fx-background-color: transparent;
}

#filterScrollPane {
     -fx-background-color: transparent;
}
